{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-7">

        <div class="card shadow-lg border-0 text-center p-5"
             style="border-radius:25px;">

            <div class="mb-4">

                <h1 class="text-success fw-bold">

                    ✅ Order Sent Successfully

                </h1>

            </div>

            <p class="fs-4 text-muted lang"
            data-en="Thank you for your order ❤️"
            data-ar="شكراً لطلبك ❤️">

                Thank you for your order ❤️

            </p>

            <p class="fs-5 mt-3 lang">
                
                The store team will contact you soon
                through WhatsApp to confirm your order.

            </p>

            <a href="/"
               class="btn btn-dark btn-lg mt-4">

                Back To Store

            </a>

        </div>

    </div>

</div>

{% endblock %}